body{
	background-image: url("pencil.jpg");

}

#CONTAINER{
	text-align: center;
	font-size: xx-large;
	color: white;
}
#TEXT{
	font-size: x-large;
}

#GoAnimate{
	float: left;
	margin-left: 150px;
	margin-top: 13px;
}

#Youtube{
	float: right;
	margin-right: 150px;
}